os_conservazione/os_conservazione_services/conservazione/sip/wsdl/esitoSip/29_10_2018/WSCoreEsitoSipService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://sip.esito.core.iris.eng.it" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sip.esito.core.iris.eng.it">

<xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime" />
<xs:element name="esitoSip" type="tns:esitoSip" />

<xs:element name="esitoSipResponse" type="tns:esitoSipResponse" />

<xs:element name="sipEsitoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="idSip" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="sipEsitoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceReturn" type="tns:wsGenericServiceOutput" />
<xs:element name="statoSip" type="xs:string" />
<xs:element name="esitoSip" type="tns:attachment" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="esitoSip">
<xs:sequence>
<xs:element name="sipEsito" form="qualified" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="idSip" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esitoSipResponse">
<xs:sequence>
<xs:element ref="tns:sipEsitoResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsGenericServiceOutput">
<xs:sequence>
<xs:element name="codEsito" type="xs:int" />
<xs:element name="desEsito" type="xs:string" minOccurs="0" />
<xs:element name="errCode" type="xs:int" />
<xs:element name="errContext" type="xs:string" minOccurs="0" />
<xs:element name="errMessage" type="xs:string" minOccurs="0" />
<xs:element name="warnMessage" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="attachment">
<xs:sequence>
<xs:element name="dh" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>