osapulie-build/pdd/osapulie-pdds-app-adapter/src/main/resources/wsdl/tributi/visuraOsapTemporaneaService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://servizi.osapulie.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servizi.osapulie.it">
    <wsdl:documentation/>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servizi.osapulie.it">
            <xs:element name="getVisuraOsapTemporanea">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="numeroDocumento" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visureOsapTemporanea" type="ns0:visureOsapTemporanea"/>
            <xs:complexType name="visureOsapTemporanea">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="visuraOsapTemporanea" type="ns0:visuraOsapTemporanea"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="visuraOsapTemporanea">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="codiceFiscale" nillable="true" type="xs:string"/>
                    <xs:element name="dataAggiornamento" nillable="true" type="xs:date"/>
                    <xs:element name="contoCorrente" nillable="true" type="xs:string"/>
                    <xs:element name="importoDocumento" nillable="true" type="xs:double"/>
                    <xs:element name="numeroDocumento" nillable="true" type="xs:string"/>
                    <xs:element name="annoRiferimento" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getVisureOsapTemporanea">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="codiceFiscale" nillable="true" type="xs:string"/>
                        <xs:element name="annoDa" nillable="true" type="xs:int"/>
                        <xs:element name="annoA" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPosizioniVisuraOsapTemporanea">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="idVisura" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="posizioniVisuraOsapTemporanea" type="ns0:posizioniVisuraOsapTemporanea"/>
            <xs:complexType name="posizioniVisuraOsapTemporanea">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="posizioneVisuraOsapTemporanea" type="ns0:posizioneVisuraOsapTemporanea"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="posizioneVisuraOsapTemporanea">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="indirizzoUtenza" nillable="true" type="xs:string"/>
                    <xs:element name="superficie" nillable="true" type="xs:double"/>
                    <xs:element name="zona" nillable="true" type="xs:string"/>
                    <xs:element name="descrizioneTariffa" nillable="true" type="xs:string"/>
                    <xs:element name="durataOccupazione" nillable="true" type="xs:integer"/>
                    <xs:element name="importoDaPagare" nillable="true" type="xs:double"/>
                    <xs:element name="importoPagato" nillable="true" type="xs:double"/>
                    <xs:element name="dataPagamento" nillable="true" type="xs:date"/>
                    <xs:element name="idVisura" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"/>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getVisureOsapTemporaneaRequest">
        <wsdl:part name="parameters" element="ns0:getVisureOsapTemporanea"/>
    </wsdl:message>
    <wsdl:message name="getVisureOsapTemporaneaResponse">
        <wsdl:part name="parameters" element="ns0:visureOsapTemporanea"/>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"/>
    </wsdl:message>
    <wsdl:message name="getPosizioniVisuraOsapTemporaneaRequest">
        <wsdl:part name="parameters" element="ns0:getPosizioniVisuraOsapTemporanea"/>
    </wsdl:message>
    <wsdl:message name="getPosizioniVisuraOsapTemporaneaResponse">
        <wsdl:part name="parameters" element="ns0:posizioniVisuraOsapTemporanea"/>
    </wsdl:message>
    <wsdl:message name="getVisuraOsapTemporaneaRequest">
        <wsdl:part name="parameters" element="ns0:getVisuraOsapTemporanea"/>
    </wsdl:message>
    <wsdl:message name="getVisuraOsapTemporaneaResponse">
        <wsdl:part name="parameters" element="ns0:visureOsapTemporanea"/>
    </wsdl:message>
    <wsdl:portType name="visuraOsapTemporaneaServicePortType">
        <wsdl:operation name="getVisureOsapTemporanea">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getVisureOsapTemporaneaRequest" wsaw:Action="urn:getVisureOsapTemporanea"/>
            <wsdl:output message="ns0:getVisureOsapTemporaneaResponse" wsaw:Action="urn:getVisureOsapTemporaneaResponse"/>
            <soap:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getVisureOsapTemporaneaDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPosizioniVisuraOsapTemporanea">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getPosizioniVisuraOsapTemporaneaRequest" wsaw:Action="urn:getPosizioniVisuraOsapTemporanea"/>
            <wsdl:output message="ns0:getPosizioniVisuraOsapTemporaneaResponse" wsaw:Action="urn:getPosizioniVisuraOsapTemporaneaResponse"/>
            <soap:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getPosizioniVisuraOsapTemporaneaDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="getVisuraOsapTemporanea">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getVisuraOsapTemporaneaRequest" wsaw:Action="urn:getVisuraOsapTemporanea"/>
            <wsdl:output message="ns0:getVisuraOsapTemporaneaResponse" wsaw:Action="urn:getVisuraOsapTemporaneaResponse"/>
            <soap:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getVisuraOsapTemporaneaDataServiceFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="visuraOsapTemporaneaServiceSOAP11Binding" type="ns0:visuraOsapTemporaneaServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVisureOsapTemporanea">
            <soap:operation soapAction="urn:getVisureOsapTemporanea" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
        <wsdl:operation name="getPosizioniVisuraOsapTemporanea">
            <soap:operation soapAction="urn:getPosizioniVisuraOsapTemporanea" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
        <wsdl:operation name="getVisuraOsapTemporanea">
            <soap:operation soapAction="urn:getVisuraOsapTemporanea" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraOsapTemporaneaServiceSOAP12Binding" type="ns0:visuraOsapTemporaneaServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVisureOsapTemporanea">
            <soap12:operation soapAction="urn:getVisureOsapTemporanea" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
        <wsdl:operation name="getPosizioniVisuraOsapTemporanea">
            <soap12:operation soapAction="urn:getPosizioniVisuraOsapTemporanea" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
        <wsdl:operation name="getVisuraOsapTemporanea">
            <soap12:operation soapAction="urn:getVisuraOsapTemporanea" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraOsapTemporaneaServiceHttpBinding" type="ns0:visuraOsapTemporaneaServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getVisureOsapTemporanea">
            <http:operation location="getVisureOsapTemporanea"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPosizioniVisuraOsapTemporanea">
            <http:operation location="getPosizioniVisuraOsapTemporanea"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVisuraOsapTemporanea">
            <http:operation location="getVisuraOsapTemporanea"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="visuraOsapTemporaneaService">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:visuraOsapTemporaneaServiceSOAP11Binding">
            <soap:address location="http://10.0.5.19:9764/services/visuraOsapTemporaneaService.SOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:visuraOsapTemporaneaServiceSOAP11Binding">
            <soap:address location="https://10.0.5.19:9444/services/visuraOsapTemporaneaService.SecureSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:visuraOsapTemporaneaServiceSOAP12Binding">
            <soap12:address location="https://10.0.5.19:9444/services/visuraOsapTemporaneaService.SecureSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:visuraOsapTemporaneaServiceSOAP12Binding">
            <soap12:address location="http://10.0.5.19:9764/services/visuraOsapTemporaneaService.SOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:visuraOsapTemporaneaServiceHttpBinding">
            <http:address location="http://10.0.5.19:9764/services/visuraOsapTemporaneaService.HTTPEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:visuraOsapTemporaneaServiceHttpBinding">
            <http:address location="https://10.0.5.19:9444/services/visuraOsapTemporaneaService.SecureHTTPEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>