osapulie-build/commons/osapulie-common-types/src/main/resources/xsd/tributi/output/ContribuenteType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="IdContribuente">
		<xs:choice>
			<xs:element name="codiceFiscale" type="xs:string"/>
			<xs:element name="partitaIva" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
