osapulie-build/portlets/osapulie-consultazionepraticheweb-portlet/src/main/resources/wsdl/ErroreType.xsd

<xs:schema xmlns:tns="http://ws.web.pratiche.osapulie.it"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
	targetNamespace="http://ws.web.pratiche.osapulie.it" version="1.0">
	
	<xs:complexType name="Errore">
		<xs:sequence>
			<xs:element name="codice" type="xs:string"/>
			<xs:element name="descrizione" type="xs:string"	minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>