osapulie-build/portlets/osapulie-consultazionepraticheweb-portlet/src/main/resources/wsdl/SavePratica-richiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://ws.web.pratiche.osapulie.it"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
	targetNamespace="http://ws.web.pratiche.osapulie.it" version="1.0">

	<xs:include schemaLocation="UserInfo.xsd"/>
	<xs:include schemaLocation="Types.xsd"/>

	<xs:element name="savePratica">
	<xs:complexType >
		<xs:sequence>
			<xs:element minOccurs="0" name="arg0" type="tns:userInfo" />
			<xs:element minOccurs="0" name="arg1" type="tns:praticaWebDto" />
		</xs:sequence>
	</xs:complexType>
	</xs:element>	
</xs:schema>
