osapulie-pdds-dichiarazionibari/src/main/resources/wsdl/ascotweb/StradarioAscotCSVService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://servizi.osapulie.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servizi.osapulie.it">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servizi.osapulie.it">
            <xs:element name="getIndirizzi">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="indirizzi" type="ns0:indirizzi"></xs:element>
            <xs:complexType name="indirizzi">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="indirizzo" type="ns0:indirizzo"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="indirizzo">
                <xs:sequence>
                    <xs:element name="codiceFrazione" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="codiceVia" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="descrizione" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="numeroCivico" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="barrato" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="corte" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="suffisso" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="idNumeroCivico" nillable="true" type="xs:integer"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"></xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"></xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getIndirizziRequest">
        <wsdl:part name="parameters" element="ns0:getIndirizzi"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIndirizziResponse">
        <wsdl:part name="parameters" element="ns0:indirizzi"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="stradarioAscotCSVServicePortType">
        <wsdl:operation name="getIndirizzi">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:getIndirizziRequest" wsaw:Action="urn:getIndirizzi"></wsdl:input>
            <wsdl:output message="ns0:getIndirizziResponse" wsaw:Action="urn:getIndirizziResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getIndirizziDataServiceFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="stradarioAscotCSVServiceSOAP11Binding" type="ns0:stradarioAscotCSVServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getIndirizzi">
            <soap:operation soapAction="urn:getIndirizzi" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="stradarioAscotCSVServiceSOAP12Binding" type="ns0:stradarioAscotCSVServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getIndirizzi">
            <soap12:operation soapAction="urn:getIndirizzi" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="stradarioAscotCSVServiceHttpBinding" type="ns0:stradarioAscotCSVServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getIndirizzi">
            <http:operation location="getIndirizzi"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="stradarioAscotCSVService">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:stradarioAscotCSVServiceSOAP11Binding">
            <soap:address location="http://osapulie-pdd:9764/services/stradarioAscotCSVService.SOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:stradarioAscotCSVServiceSOAP11Binding">
            <soap:address location="https://osapulie-pdd:9444/services/stradarioAscotCSVService.SecureSOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:stradarioAscotCSVServiceSOAP12Binding">
            <soap12:address location="https://osapulie-pdd:9444/services/stradarioAscotCSVService.SecureSOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:stradarioAscotCSVServiceSOAP12Binding">
            <soap12:address location="http://osapulie-pdd:9764/services/stradarioAscotCSVService.SOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:stradarioAscotCSVServiceHttpBinding">
            <http:address location="http://osapulie-pdd:9764/services/stradarioAscotCSVService.HTTPEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:stradarioAscotCSVServiceHttpBinding">
            <http:address location="https://osapulie-pdd:9444/services/stradarioAscotCSVService.SecureHTTPEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>