osapulie-pdds-dichiarazionibari/src/main/resources/wsdl/ascotweb/StradarioMappingCSVService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://servizi.osapulie.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servizi.osapulie.it">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servizi.osapulie.it">
            <xs:element name="getCodifiche">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="codifiche" type="ns0:codifiche"></xs:element>
            <xs:complexType name="codifiche">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="codifica" type="ns0:codifica"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="codifica">
                <xs:sequence>
                    <xs:element name="codiceViaAscot" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="codiceViaSIT" nillable="true" type="xs:integer"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"></xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"></xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCodificheRequest">
        <wsdl:part name="parameters" element="ns0:getCodifiche"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCodificheResponse">
        <wsdl:part name="parameters" element="ns0:codifiche"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="stradarioMappingCSVServicePortType">
        <wsdl:operation name="getCodifiche">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:getCodificheRequest" wsaw:Action="urn:getCodifiche"></wsdl:input>
            <wsdl:output message="ns0:getCodificheResponse" wsaw:Action="urn:getCodificheResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getCodificheDataServiceFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="stradarioMappingCSVServiceSOAP11Binding" type="ns0:stradarioMappingCSVServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getCodifiche">
            <soap:operation soapAction="urn:getCodifiche" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="stradarioMappingCSVServiceSOAP12Binding" type="ns0:stradarioMappingCSVServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getCodifiche">
            <soap12:operation soapAction="urn:getCodifiche" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="stradarioMappingCSVServiceHttpBinding" type="ns0:stradarioMappingCSVServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getCodifiche">
            <http:operation location="getCodifiche"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="stradarioMappingCSVService">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:stradarioMappingCSVServiceSOAP11Binding">
            <soap:address location="http://osapulie-pdd:9764/services/stradarioMappingCSVService.SOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:stradarioMappingCSVServiceSOAP11Binding">
            <soap:address location="https://osapulie-pdd:9444/services/stradarioMappingCSVService.SecureSOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:stradarioMappingCSVServiceSOAP12Binding">
            <soap12:address location="https://osapulie-pdd:9444/services/stradarioMappingCSVService.SecureSOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:stradarioMappingCSVServiceSOAP12Binding">
            <soap12:address location="http://osapulie-pdd:9764/services/stradarioMappingCSVService.SOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:stradarioMappingCSVServiceHttpBinding">
            <http:address location="http://osapulie-pdd:9764/services/stradarioMappingCSVService.HTTPEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:stradarioMappingCSVServiceHttpBinding">
            <http:address location="https://osapulie-pdd:9444/services/stradarioMappingCSVService.SecureHTTPEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>