osapulie-build/commons/osapulie-common-types/src/main/resources/xsd/protocollo/DestinatarioType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="PersonaFisicaType.xsd"/>
	<xs:complexType name="Destinatario">
		<xs:sequence>
			<xs:element name="areaOrganizzativaOmogenea" type="xs:string" />
			<xs:element name="personaFisica" type="PersonaFisica" />
			<xs:element name="amministrazione" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>