osapulie-build/commons/osapulie-common-types/src/main/resources/xsd/protocollo/DettaglioProtocollo-richiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="dettaglioProtocolloRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numeroProtocollo" type="xs:long" />
				<xs:element name="anno" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>