osapulie-build/commons/osapulie-common-types/src/main/resources/xsd/protocollo/ImprontaMIMEType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:complexType name="ImprontaMIME">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="algoritmo" type="xs:string" />
				<xs:attribute name="codifica" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>