osapulie-build/commons/osapulie-common-types/src/main/resources/xsd/protocollo/PersonaFisicaType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="PersonaFisica">
		<xs:sequence>
			<xs:element name="nome" type="xs:string" />
			<xs:element name="cognome" type="xs:string" />
			<xs:element name="codiceFiscale" type="xs:string"	minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>