osapulie-build/pdd/osapulie-pdds-app-adapter/src/main/resources/wsdl/anagrafiche/visuraTassaRifiutiService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://servizi.osapulie.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servizi.osapulie.it">
    <wsdl:documentation/>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servizi.osapulie.it">
            <xs:element name="getPosizioni">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="codiceFiscale" nillable="true" type="xs:string"/>
                        <xs:element name="annoRiferimento" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="posizioni" type="ns0:posizioni"/>
            <xs:complexType name="posizioni">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="posizione" type="ns0:posizione"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="posizione">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="codiceFiscale" nillable="true" type="xs:string"/>
                    <xs:element name="codiceImmobile" nillable="true" type="xs:integer"/>
                    <xs:element name="indirizzoImmobile" nillable="true" type="xs:string"/>
                    <xs:element name="foglio" nillable="true" type="xs:integer"/>
                    <xs:element name="numero" nillable="true" type="xs:integer"/>
                    <xs:element name="particella" nillable="true" type="xs:integer"/>
                    <xs:element name="destinazione" nillable="true" type="xs:string"/>
                    <xs:element name="tipo" nillable="true" type="xs:string"/>
                    <xs:element name="aliquota" nillable="true" type="xs:string"/>
                    <xs:element name="agevolazione" nillable="true" type="xs:string"/>
                    <xs:element name="dataInizio" nillable="true" type="xs:date"/>
                    <xs:element name="dataFine" nillable="true" type="xs:date"/>
                    <xs:element name="superficie" nillable="true" type="xs:integer"/>
                    <xs:element name="tariffa" nillable="true" type="xs:double"/>
                    <xs:element name="detrazione" nillable="true" type="xs:double"/>
                    <xs:element name="tassa" nillable="true" type="xs:double"/>
                    <xs:element name="addizionaleComunale" nillable="true" type="xs:double"/>
                    <xs:element name="addizionaleProvinciale" nillable="true" type="xs:double"/>
                    <xs:element name="maggiorazioneStato" nillable="true" type="xs:double"/>
                    <xs:element name="descrizioneTassa" nillable="true" type="xs:string"/>
                    <xs:element name="annoRiferimento" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"/>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPosizioniRequest">
        <wsdl:part name="parameters" element="ns0:getPosizioni"/>
    </wsdl:message>
    <wsdl:message name="getPosizioniResponse">
        <wsdl:part name="parameters" element="ns0:posizioni"/>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"/>
    </wsdl:message>
    <wsdl:portType name="visuraTassaRifiutiServicePortType">
        <wsdl:operation name="getPosizioni">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getPosizioniRequest" wsaw:Action="urn:getPosizioni"/>
            <wsdl:output message="ns0:getPosizioniResponse" wsaw:Action="urn:getPosizioniResponse"/>
            <soap:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getPosizioniDataServiceFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="visuraTassaRifiutiServiceSOAP11Binding" type="ns0:visuraTassaRifiutiServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPosizioni">
            <soap:operation soapAction="urn:getPosizioni" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraTassaRifiutiServiceSOAP12Binding" type="ns0:visuraTassaRifiutiServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPosizioni">
            <soap12:operation soapAction="urn:getPosizioni" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraTassaRifiutiServiceHttpBinding" type="ns0:visuraTassaRifiutiServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getPosizioni">
            <http:operation location="getPosizioni"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="visuraTassaRifiutiService">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:visuraTassaRifiutiServiceSOAP11Binding">
            <soap:address location="http://10.0.5.19:9764/services/visuraTassaRifiutiService.SOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:visuraTassaRifiutiServiceSOAP11Binding">
            <soap:address location="https://10.0.5.19:9444/services/visuraTassaRifiutiService.SecureSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:visuraTassaRifiutiServiceSOAP12Binding">
            <soap12:address location="https://10.0.5.19:9444/services/visuraTassaRifiutiService.SecureSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:visuraTassaRifiutiServiceSOAP12Binding">
            <soap12:address location="http://10.0.5.19:9764/services/visuraTassaRifiutiService.SOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:visuraTassaRifiutiServiceHttpBinding">
            <http:address location="http://10.0.5.19:9764/services/visuraTassaRifiutiService.HTTPEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:visuraTassaRifiutiServiceHttpBinding">
            <http:address location="https://10.0.5.19:9444/services/visuraTassaRifiutiService.SecureHTTPEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>