osapulie-pdds-dichiarazionibari/src/main/resources/wsdl/gitri/TaresService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comune.bari.it/serviziTributi" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.comune.bari.it/serviziTributi" name="TaresService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.comune.bari.it/serviziTributi" schemaLocation="TaresService.xsd"/>
</xsd:schema>
</types>
<message name="setRiduzione">
<part name="parameters" element="tns:setRiduzioneRequest"/>
</message>
<message name="setRiduzioneResponse">
<part name="parameters" element="tns:setRiduzioneResponse"/>
</message>
<message name="getUtenze">
<part name="parameters" element="tns:getUtenze"/>
</message>
<message name="getUtenzeResponse">
<part name="parameters" element="tns:getUtenzeResponse"/>
</message>
<message name="setAgevolazioniCAF">
<part name="parameters" element="tns:setAgevolazioniCAF"/>
</message>
<message name="setAgevolazioniCAFResponse">
<part name="parameters" element="tns:setAgevolazioniCAFResponse"/>
</message>
<message name="setIscrizione">
<part name="parameters" element="tns:setIscrizioneRequest"/>
</message>
<message name="setIscrizioneResponse">
<part name="parameters" element="tns:setIscrizioneResponse"/>
</message>
<message name="setTrasferimento">
<part name="parameters" element="tns:setTrasferimentoRequest"/>
</message>
<message name="setTrasferimentoResponse">
<part name="parameters" element="tns:setTrasferimentoResponse"/>
</message>
<message name="setCessazione">
<part name="parameters" element="tns:setCessazioneRequest"/>
</message>
<message name="setCessazioneResponse">
<part name="parameters" element="tns:setCessazioneResponse"/>
</message>
<message name="setVariazioneSuperficie">
<part name="parameters" element="tns:setVariazioneSuperficieRequest"/>
</message>
<message name="setVariazioneSuperficieResponse">
<part name="parameters" element="tns:setVariazioneSuperficieResponse"/>
</message>
<message name="setVariazioneCategoria">
<part name="parameters" element="tns:setVariazioneCategoriaRequest"/>
</message>
<message name="setVariazioneCategoriaResponse">
<part name="parameters" element="tns:setVariazioneCategoriaResponse"/>
</message>
<message name="getUtenzeStatoPratiche">
<part name="parameters" element="tns:getUtenzeStatoPraticheRequest"/>
</message>
<message name="getUtenzeStatoPraticheResponse">
<part name="parameters" element="tns:getUtenzeStatoPraticheResponse"/>
</message>
<message name="isContribuenteEsistente">
<part name="parameters" element="tns:isContribuenteEsistenteRequest"/>
</message>
<message name="isContribuenteEsistenteResponse">
<part name="parameters" element="tns:isContribuenteEsistenteResponse"/>
</message>
<portType name="TaresServicePortType">
<operation name="setRiduzione">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setRiduzioneRequest" message="tns:setRiduzione"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setRiduzioneResponse" message="tns:setRiduzioneResponse"/>
</operation>
<operation name="getUtenze">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/getUtenzeRequest" message="tns:getUtenze"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/getUtenzeResponse" message="tns:getUtenzeResponse"/>
</operation>
<operation name="setAgevolazioniCAF">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setAgevolazioniCAFRequest" message="tns:setAgevolazioniCAF"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setAgevolazioniCAFResponse" message="tns:setAgevolazioniCAFResponse"/>
</operation>
<operation name="setIscrizione">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setIscrizioneRequest" message="tns:setIscrizione"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setIscrizioneResponse" message="tns:setIscrizioneResponse"/>
</operation>
<operation name="setTrasferimento">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setTrasferimentoRequest" message="tns:setTrasferimento"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setTrasferimentoResponse" message="tns:setTrasferimentoResponse"/>
</operation>
<operation name="setCessazione">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setCessazioneRequest" message="tns:setCessazione"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setCessazioneResponse" message="tns:setCessazioneResponse"/>
</operation>
<operation name="setVariazioneSuperficie">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setVariazioneSuperficieRequest" message="tns:setVariazioneSuperficie"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setVariazioneSuperficieResponse" message="tns:setVariazioneSuperficieResponse"/>
</operation>
<operation name="setVariazioneCategoria">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setVariazioneCategoriaRequest" message="tns:setVariazioneCategoria"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/setVariazioneCategoriaResponse" message="tns:setVariazioneCategoriaResponse"/>
</operation>
<operation name="getUtenzeStatoPratiche">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/getUtenzeStatoPraticheRequest" message="tns:getUtenzeStatoPratiche"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/getUtenzeStatoPraticheResponse" message="tns:getUtenzeStatoPraticheResponse"/>
</operation>
<operation name="isContribuenteEsistente">
<input wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/isContribuenteEsistenteRequest" message="tns:isContribuenteEsistente"/>
<output wsam:Action="http://www.comune.bari.it/serviziTributi/TaresServicePortType/isContribuenteEsistenteResponse" message="tns:isContribuenteEsistenteResponse"/>
</operation>
</portType>
<binding name="TaresServicePortBinding" type="tns:TaresServicePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setRiduzione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUtenze">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAgevolazioniCAF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setIscrizione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTrasferimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCessazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setVariazioneSuperficie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setVariazioneCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUtenzeStatoPratiche">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isContribuenteEsistente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TaresService">
<port name="TaresServicePort" binding="tns:TaresServicePortBinding">
<soap:address location="http://10.10.85.27:8083/tributi/TaresService"/>
</port>
</service>
</definitions>