osapulie-build/commons/osapulie-common-types/src/main/resources/xsd/pratiche/GetReferenteByPk-richiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://ws.web.pratiche.osapulie.it"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
	targetNamespace="http://ws.web.pratiche.osapulie.it" version="1.0">

	<xs:include schemaLocation="UserInfo.xsd" />

	<xs:element name="getReferenteByPk">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="arg0" type="tns:userInfo" />
				<xs:element name="arg1" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>