osapulie-build/commons/osapulie-common-types/src/main/resources/xsd/pratiche/SearchPraticaByPk-risposta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://ws.web.pratiche.osapulie.it"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
	targetNamespace="http://ws.web.pratiche.osapulie.it" version="1.0">

	<xs:include schemaLocation="Types.xsd" />
	<xs:include schemaLocation="ErroreType.xsd" />
	<xs:element name="searchPraticaByPkResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element minOccurs="0" name="return" type="tns:praticaDto" />
				<xs:element name="errore" type="tns:Errore" minOccurs="0" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>