osapulie-ws-stubs/src/main/resources/wsdl/SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://spservice.securepaperappliance.land.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://spservice.securepaperappliance.land.it/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://spservice.securepaperappliance.land.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://spservice.securepaperappliance.land.it" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://spservice.securepaperappliance.land.it/xsd">
            <xs:import namespace="http://spservice.securepaperappliance.land.it"/>
            <xs:complexType name="SPWebServiceException">
                <xs:complexContent>
                    <xs:extension base="ax22:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="SignerBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hsmIp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SPServiceResponse">
                <xs:sequence>
               	 <xs:element minOccurs="0" name="archiveKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="securedDocument" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="status" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax23="http://spservice.securepaperappliance.land.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://spservice.securepaperappliance.land.it">
            <xs:import namespace="http://spservice.securepaperappliance.land.it/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="securizeXMLWithClosingDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="inXml" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="closingDocumentXml" nillable="true" type="xs:base64Binary"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="signers" nillable="true" type="ax21:SignerBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="securizeXMLWithClosingDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SPServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="securizeXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="inXml" nillable="true" type="xs:base64Binary"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="signers" nillable="true" type="ax21:SignerBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="securizeXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SPServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="securizePDFWithClosingDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="inXml" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="closingDocumentXml" nillable="true" type="xs:base64Binary"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="signers" nillable="true" type="ax21:SignerBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="securizePDFWithClosingDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SPServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="securizePDF">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="inXml" nillable="true" type="xs:base64Binary"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="signers" nillable="true" type="ax21:SignerBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="securizePDFResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SPServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="securizeXMLRequest">
        <wsdl:part name="parameters" element="ns:securizeXML"/>
    </wsdl:message>
    <wsdl:message name="securizeXMLResponse">
        <wsdl:part name="parameters" element="ns:securizeXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="SPWebServiceException">
        <wsdl:part name="parameters" element="ns:SPWebServiceException"/>
    </wsdl:message>
    <wsdl:message name="securizePDFWithClosingDocumentRequest">
        <wsdl:part name="parameters" element="ns:securizePDFWithClosingDocument"/>
    </wsdl:message>
    <wsdl:message name="securizePDFWithClosingDocumentResponse">
        <wsdl:part name="parameters" element="ns:securizePDFWithClosingDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="securizePDFRequest">
        <wsdl:part name="parameters" element="ns:securizePDF"/>
    </wsdl:message>
    <wsdl:message name="securizePDFResponse">
        <wsdl:part name="parameters" element="ns:securizePDFResponse"/>
    </wsdl:message>
    <wsdl:message name="securizeXMLWithClosingDocumentRequest">
        <wsdl:part name="parameters" element="ns:securizeXMLWithClosingDocument"/>
    </wsdl:message>
    <wsdl:message name="securizeXMLWithClosingDocumentResponse">
        <wsdl:part name="parameters" element="ns:securizeXMLWithClosingDocumentResponse"/>
    </wsdl:message>
    <wsdl:portType name="SPPortType">
        <wsdl:operation name="securizeXML">
            <wsdl:input message="ns:securizeXMLRequest" wsaw:Action="urn:securizeXML"/>
            <wsdl:output message="ns:securizeXMLResponse" wsaw:Action="urn:securizeXMLResponse"/>
            <wsdl:fault message="ns:SPWebServiceException" name="SPWebServiceException" wsaw:Action="urn:securizeXMLSPWebServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="securizePDFWithClosingDocument">
            <wsdl:input message="ns:securizePDFWithClosingDocumentRequest" wsaw:Action="urn:securizePDFWithClosingDocument"/>
            <wsdl:output message="ns:securizePDFWithClosingDocumentResponse" wsaw:Action="urn:securizePDFWithClosingDocumentResponse"/>
            <wsdl:fault message="ns:SPWebServiceException" name="SPWebServiceException" wsaw:Action="urn:securizePDFWithClosingDocumentSPWebServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="securizePDF">
            <wsdl:input message="ns:securizePDFRequest" wsaw:Action="urn:securizePDF"/>
            <wsdl:output message="ns:securizePDFResponse" wsaw:Action="urn:securizePDFResponse"/>
            <wsdl:fault message="ns:SPWebServiceException" name="SPWebServiceException" wsaw:Action="urn:securizePDFSPWebServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="securizeXMLWithClosingDocument">
            <wsdl:input message="ns:securizeXMLWithClosingDocumentRequest" wsaw:Action="urn:securizeXMLWithClosingDocument"/>
            <wsdl:output message="ns:securizeXMLWithClosingDocumentResponse" wsaw:Action="urn:securizeXMLWithClosingDocumentResponse"/>
            <wsdl:fault message="ns:SPWebServiceException" name="SPWebServiceException" wsaw:Action="urn:securizeXMLWithClosingDocumentSPWebServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SPSoap11Binding" type="ns:SPPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="securizeXML">
            <soap:operation soapAction="urn:securizeXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="securizePDFWithClosingDocument">
            <soap:operation soapAction="urn:securizePDFWithClosingDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="securizePDF">
            <soap:operation soapAction="urn:securizePDF" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="securizeXMLWithClosingDocument">
            <soap:operation soapAction="urn:securizeXMLWithClosingDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SPSoap12Binding" type="ns:SPPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="securizeXML">
            <soap12:operation soapAction="urn:securizeXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap12:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="securizePDFWithClosingDocument">
            <soap12:operation soapAction="urn:securizePDFWithClosingDocument" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap12:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="securizePDF">
            <soap12:operation soapAction="urn:securizePDF" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap12:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="securizeXMLWithClosingDocument">
            <soap12:operation soapAction="urn:securizeXMLWithClosingDocument" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SPWebServiceException">
                <soap12:fault use="literal" name="SPWebServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SPHttpBinding" type="ns:SPPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="securizeXML">
            <http:operation location="SP/securizeXML"/>
            <wsdl:input>
                <mime:content type="text/xml" part="securizeXML"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="securizeXML"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="securizePDFWithClosingDocument">
            <http:operation location="SP/securizePDFWithClosingDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="securizePDFWithClosingDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="securizePDFWithClosingDocument"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="securizePDF">
            <http:operation location="SP/securizePDF"/>
            <wsdl:input>
                <mime:content type="text/xml" part="securizePDF"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="securizePDF"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="securizeXMLWithClosingDocument">
            <http:operation location="SP/securizeXMLWithClosingDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="securizeXMLWithClosingDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="securizeXMLWithClosingDocument"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SP">
        <wsdl:port name="SPHttpSoap11Endpoint" binding="ns:SPSoap11Binding">
            <soap:address location="http://172.16.7.230:8080/sp/services/SP.SPHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SPHttpSoap12Endpoint" binding="ns:SPSoap12Binding">
            <soap12:address location="http://172.16.7.230:8080/sp/services/SP.SPHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SPHttpEndpoint" binding="ns:SPHttpBinding">
            <http:address location="http://172.16.7.230:8080/sp/services/SP.SPHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>