osapulie-ws-stubs/src/main/resources/wsdl/visuraDocumentiAnagrafeService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://servizi.osapulie.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servizi.osapulie.it">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servizi.osapulie.it">
            <xs:element name="getDocumenti">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="codiceFiscale" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="codiceServizio" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="anno" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="documenti" type="ns0:documenti"></xs:element>
            <xs:complexType name="documenti">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="documento" type="ns0:documento"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="documento">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="codiceFiscale" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="codiceServizio" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="anno" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="nome" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="descrizione" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="contentType" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="binario" nillable="true" type="xs:base64Binary"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getDocumento">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"></xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"></xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDocumentoRequest">
        <wsdl:part name="parameters" element="ns0:getDocumento"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDocumentoResponse">
        <wsdl:part name="parameters" element="ns0:documenti"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDocumentiRequest">
        <wsdl:part name="parameters" element="ns0:getDocumenti"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDocumentiResponse">
        <wsdl:part name="parameters" element="ns0:documenti"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="visuraDocumentiAnagrafeServicePortType">
        <wsdl:operation name="getDocumento">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:getDocumentoRequest" wsaw:Action="urn:getDocumento"></wsdl:input>
            <wsdl:output message="ns0:getDocumentoResponse" wsaw:Action="urn:getDocumentoResponse"></wsdl:output>
            <soap:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getDocumentoDataServiceFault"></soap:fault>
        </wsdl:operation>
        <wsdl:operation name="getDocumenti">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:getDocumentiRequest" wsaw:Action="urn:getDocumenti"></wsdl:input>
            <wsdl:output message="ns0:getDocumentiResponse" wsaw:Action="urn:getDocumentiResponse"></wsdl:output>
            <soap:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getDocumentiDataServiceFault"></soap:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="visuraDocumentiAnagrafeServiceSOAP11Binding" type="ns0:visuraDocumentiAnagrafeServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getDocumento">
            <soap:operation soapAction="urn:getDocumento" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </soap:fault>
        </wsdl:operation>
        <wsdl:operation name="getDocumenti">
            <soap:operation soapAction="urn:getDocumenti" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraDocumentiAnagrafeServiceSOAP12Binding" type="ns0:visuraDocumentiAnagrafeServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getDocumento">
            <soap12:operation soapAction="urn:getDocumento" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </soap:fault>
        </wsdl:operation>
        <wsdl:operation name="getDocumenti">
            <soap12:operation soapAction="urn:getDocumenti" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraDocumentiAnagrafeServiceHttpBinding" type="ns0:visuraDocumentiAnagrafeServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getDocumento">
            <http:operation location="getDocumento"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDocumenti">
            <http:operation location="getDocumenti"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="visuraDocumentiAnagrafeService">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:visuraDocumentiAnagrafeServiceSOAP11Binding">
            <soap:address location="http://10.0.5.19:9764/services/visuraDocumentiAnagrafeService.SOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:visuraDocumentiAnagrafeServiceSOAP11Binding">
            <soap:address location="https://10.0.5.19:9444/services/visuraDocumentiAnagrafeService.SecureSOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:visuraDocumentiAnagrafeServiceSOAP12Binding">
            <soap12:address location="https://10.0.5.19:9444/services/visuraDocumentiAnagrafeService.SecureSOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:visuraDocumentiAnagrafeServiceSOAP12Binding">
            <soap12:address location="http://10.0.5.19:9764/services/visuraDocumentiAnagrafeService.SOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:visuraDocumentiAnagrafeServiceHttpBinding">
            <http:address location="http://10.0.5.19:9764/services/visuraDocumentiAnagrafeService.HTTPEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:visuraDocumentiAnagrafeServiceHttpBinding">
            <http:address location="https://10.0.5.19:9444/services/visuraDocumentiAnagrafeService.SecureHTTPEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>