osapulie-ws-stubs/src/main/resources/wsdl/visuraPosizioneElettoraleService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://servizi.osapulie.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servizi.osapulie.it">
    <wsdl:documentation/>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servizi.osapulie.it">
            <xs:element name="getVisurePosizioniElettorali">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="codiceFiscale" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visurePosizioniElettorali" type="ns0:visurePosizioniElettorali"/>
            <xs:complexType name="visurePosizioniElettorali">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="visuraPosizioneElettorale" type="ns0:visuraPosizioneElettorale"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="visuraPosizioneElettorale">
                <xs:sequence>
                    <xs:element name="codiceFiscale" nillable="true" type="xs:string"/>
                    <xs:element name="cognome" nillable="true" type="xs:string"/>
                    <xs:element name="nome" nillable="true" type="xs:string"/>
                    <xs:element name="dataNascita" nillable="true" type="xs:date"/>
                    <xs:element name="toponimoIndirizzo" nillable="true" type="xs:string"/>
                    <xs:element name="descrizioneVia" nillable="true" type="xs:string"/>
                    <xs:element name="numeroCivico" nillable="true" type="xs:string"/>
                    <xs:element name="piano" nillable="true" type="xs:string"/>
                    <xs:element name="scala" nillable="true" type="xs:string"/>
                    <xs:element name="interno" nillable="true" type="xs:string"/>
                    <xs:element name="esponente" nillable="true" type="xs:string"/>
                    <xs:element name="dataVerbaleIscrizione" nillable="true" type="xs:date"/>
                    <xs:element name="numVerbaleIscrizione" nillable="true" type="xs:string"/>
                    <xs:element name="annoIscrizioneElett" nillable="true" type="xs:integer"/>
                    <xs:element name="numeroFascicolo" nillable="true" type="xs:string"/>
                    <xs:element name="numeroListaGenerale" nillable="true" type="xs:string"/>
                    <xs:element name="numeroListaSezionale" nillable="true" type="xs:string"/>
                    <xs:element name="descrizioneLista" nillable="true" type="xs:string"/>
                    <xs:element name="tipoElettore" nillable="true" type="xs:string"/>
                    <xs:element name="numeroSezione" nillable="true" type="xs:integer"/>
                    <xs:element name="numeroTesseraElettorale" nillable="true" type="xs:string"/>
                    <xs:element name="dataRilascioTesseraElett" nillable="true" type="xs:date"/>
                    <xs:element name="iscrizioneAlboPresidente" nillable="true" type="xs:boolean"/>
                    <xs:element name="iscrizioneAlboScrutatori" nillable="true" type="xs:boolean"/>
                    <xs:element name="numVerbIscrAlboScrut" nillable="true" type="xs:integer"/>
                    <xs:element name="dataVerbIscrAlboScrut" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"/>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getVisurePosizioniElettoraliRequest">
        <wsdl:part name="parameters" element="ns0:getVisurePosizioniElettorali"/>
    </wsdl:message>
    <wsdl:message name="getVisurePosizioniElettoraliResponse">
        <wsdl:part name="parameters" element="ns0:visurePosizioniElettorali"/>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"/>
    </wsdl:message>
    <wsdl:portType name="visuraPosizioneElettoraleServicePortType">
        <wsdl:operation name="getVisurePosizioniElettorali">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getVisurePosizioniElettoraliRequest" wsaw:Action="urn:getVisurePosizioniElettorali"/>
            <wsdl:output message="ns0:getVisurePosizioniElettoraliResponse" wsaw:Action="urn:getVisurePosizioniElettoraliResponse"/>
            <soap:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getVisurePosizioniElettoraliDataServiceFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="visuraPosizioneElettoraleServiceSOAP11Binding" type="ns0:visuraPosizioneElettoraleServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVisurePosizioniElettorali">
            <soap:operation soapAction="urn:getVisurePosizioniElettorali" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraPosizioneElettoraleServiceSOAP12Binding" type="ns0:visuraPosizioneElettoraleServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVisurePosizioniElettorali">
            <soap12:operation soapAction="urn:getVisurePosizioniElettorali" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <soap:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </soap:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="visuraPosizioneElettoraleServiceHttpBinding" type="ns0:visuraPosizioneElettoraleServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getVisurePosizioniElettorali">
            <http:operation location="getVisurePosizioniElettorali"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="visuraPosizioneElettoraleService">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:visuraPosizioneElettoraleServiceSOAP11Binding">
            <soap:address location="http://10.0.5.19:9764/services/visuraPosizioneElettoraleService.SOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:visuraPosizioneElettoraleServiceSOAP11Binding">
            <soap:address location="https://10.0.5.19:9444/services/visuraPosizioneElettoraleService.SecureSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:visuraPosizioneElettoraleServiceSOAP12Binding">
            <soap12:address location="https://10.0.5.19:9444/services/visuraPosizioneElettoraleService.SecureSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:visuraPosizioneElettoraleServiceSOAP12Binding">
            <soap12:address location="http://10.0.5.19:9764/services/visuraPosizioneElettoraleService.SOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:visuraPosizioneElettoraleServiceHttpBinding">
            <http:address location="http://10.0.5.19:9764/services/visuraPosizioneElettoraleService.HTTPEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:visuraPosizioneElettoraleServiceHttpBinding">
            <http:address location="https://10.0.5.19:9444/services/visuraPosizioneElettoraleService.SecureHTTPEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>